<html>
    
<body>

    <form>
      <div class="form-group">
      <h2>Itens no Carrinho</h2>
      <ul>
        <li *ngFor="let item of itemsSelecionados">
          <p>Lanche: {{ item.LancheP }}, Tamanho: {{ item.LancheP }}, Quantidade: {{ item.Qtdlache }}</p>
          <p>Lanche: {{ item.LancheM }}, Tamanho: {{ item.LancheP }}, Quantidade: {{ item.Qtdlache1 }}</p>
          <p>Lanche: {{ item.LancheG }}, Tamanho: {{ item.LancheG }}, Quantidade: {{ item.Qtdlache2 }}</p>
          <p>Complementos: Bacon - {{ item.bacon }}, Carne - {{ item.carne }}, Queijo - {{ item.queijo }}</p>
        </li>
      
    </ul>
      </div>
      </form>
      
</body>
  </html>
  
  