<html>
    
<body>

    <div>
        <h2>Itens Selecionados</h2>
        <ul>
          <li>Lanche Pequeno: {{ itemsSelecionados.lancheP }} - Quantidade R$: {{ itemsSelecionados.qtdlacheP }}</li>
          <li>Lanche Médio: {{ itemsSelecionados.lancheM }} - Quantidade R$: {{ itemsSelecionados.qtdlacheM }}</li>
          <li>Lanche Grande: {{ itemsSelecionados.lancheG }} - Quantidade R$: {{ itemsSelecionados.qtdlacheG }}</li>
          <li>Carne Extra R$: {{ itemsSelecionados.qtdCarne }}</li>
          <li>Bacon Extra R$: {{ itemsSelecionados.qtdBacon }}</li>
          <li>Queijo Extra R$: {{ itemsSelecionados.qtdQueijo }}</li>
          <li>Total R$: {{ itemsSelecionados?.total }}</li>
        </ul>
      </div>
      
</body>
  </html>
  
  