*, *::before, *::after { box-sizing: border-box; }

html { 
    font-size: 14px;
padding: 3px;
padding-right: 10px;
    /* A propriedade abaixo permite
    uma rolagem suave entre as áreas
    de navegação da página */
    scroll-behavior: smooth;
    background: linear-gradient(90deg, rgba(23,18,102,1) 0%, rgba(165,123,238,1) 36%, rgba(36,159,218,1) 100%);

}
h1,h5,h2{
    color: white;
}
.btn{
    color: black;
    background-color: white;

}
.btn:hover{
    background-color: black;
    color: white;

}
body {
    margin: 5px;
    padding: 5px;
    background: linear-gradient(90deg, rgba(23,18,102,1) 0%, rgba(165,123,238,1) 36%, rgba(36,159,218,1) 100%);

}



img{
    border:none;
    margin-left: 2px;
}
.navbar{
    background-color: rgb(24, 22, 22); 
    color: azure; 
   border-radius: 0.9rem;
   margin: 0px;
   margin-top: 2px;
   padding-left: 15px;
   padding-right: 15px;
}
.navbar-brand{
    color: white;
}
.navbar-toggler-icon{
    background-color: white;
    color: black;
}
.nav-link{
    color: white;

}
.dropdown-item{
    color:white;
}
.dropdown-menu{
    background-color: black;
    color: white;
}
.dropdown-item:hover{
    background: linear-gradient(90deg, rgba(23,18,102,1) 0%, rgba(165,123,238,1) 36%, rgba(36,159,218,1) 100%);
    
}

h1 { 
    margin-top:100px ;
    background-color:black;
    color: white;
    border-bottom:3px solid #EA0000;
}


.card{
    margin-top: 60px;
    width: 90%;
    height: 90%;
    margin-left: 30px;
}

button{
    background-color: black;
    
}

#buttonsSearch{
    margin-top: 30px;
    
}
#buttonsSearch ul { 
    padding:0px;
    margin:0px;
    list-style:none;
    background-color: black;
    width: 350px;
    
  }

#buttonsSearch ul li a { 
    padding: 3px 10px;

    display: inline-block; /* visual do link */ 
    color: white; 
    text-decoration: none; 
    border-bottom:3px solid black; 
}
#buttonsSearch ul li { display: inline; }

#buttonsSearch ul li a:hover { 
    background-color:black;
    color: white;
    border-bottom:3px solid #EA0000;
    
  }