*, *::before, *::after { box-sizing: border-box; }

html { 
font-size: 16px;
padding: 0px;
margin: 0px;
    /* A propriedade abaixo permite
    uma rolagem suave entre as áreas
    de navegação da página */
    scroll-behavior: smooth;
   
}


body {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    animation-duration: 2s;
    animation-name: slidein;
  
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

#offcanvasTop{
   
    height: 580px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);  
}

h2{
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Trattatello, fantasy';
    color: black !important;
    text-shadow:2px 2px white
}
.IMG-Canvas{
    opacity: 0.8;
}

.btn-close{
    background-color: rgb(241, 179, 179);
    color:black;
    width: 40px;
    height: 40px;
}
.FecharCanvas{
    margin-left: 45px;
    color: black;
    font-style: italic;
    font-weight: bolder;
}
#buttonMain{
    margin-top: 30px;
margin-left: 23px;
background-color: black;
color: white;
text-shadow:1px 1px black;

}
#buttonMain:hover{
background-color: beige;
color: black;
}
.navbar{
    margin-top: -10px;
    background:black;
    margin-left: 0px;
    width: 100%!important;
    color: white; 
    height: 80px;
    
}
.navbar-brand{
    color:black;
}
.navbar-toggler-icon{
    background-color: white;
    color: black;
}
.nav-link{
    color:white;
    padding: 10px;

}
.dropdown-item{
    color:black;
}
.dropdown-menu{
    background-color: white;
    color: black;
}
.dropdown-item:hover{
    background: linear-gradient(90deg, rgb(108, 101, 206) 0%, rgb(175, 139, 236) 36%, rgba(36,159,218,1) 100%);
    
}


h1,h5,h2{
    color: white;
}
.btn{
    color: black;
    background-color: white;

}
.btn:hover{
    background-color: black;
    color: white;

}

img{
width:100%;
height: 420px;


}

.Slide{
margin-top: 70px;
margin-left:-4px;
width: 100.3%;
border:1px solid rgb(230, 191, 143);;
}

.carousel-control-prev,.carousel-control-next{
    background-color:black;
    opacity: none;
}
#IndicadoresSlide{
    background: black;
    opacity: none;

}
.carousel-inner{
width:100%;
height: 50%;
}

#Compra{
    background-color: black;
    color: white;
}
.card{
margin-left: 10px;
}

.card-header{
    background-color: black;
    color: aliceblue;
}

#Historia, #NossaCarne{
    margin-top: 150px;
    width: 100%;
    height: 400px;
    margin-left: 0px;
    border-bottom:3px solid #EA0000!important;
    
}

footer{
 width:100%;
 margin-left: 0px;
 margin-top: 90px;

}

.card-text{
color:black;
}

.card-header{
    color: white;
    text-overflow: ellipsis;
    font-size: large;


}
.card-body{
    color:white;
}
.Carro-compra{
    margin-left: 400px;
    margin-top:5px;
}

#carroCompra-text{
 margin-top: -20px;
 margin-left: 30px;

 
}
.bi-cart4::before{
    scale:2;
   color: white;
}

