   
<html>

  <body>
    <button  id="buttonMenu"class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Conheça Nosso Site</button>
    
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
      
      <div class="offcanvas-header">

        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a routerLink='/home' routerLinkActive="router-link-active" class="navbar-brand" >Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
        
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Home
                  </a>
                  <ul class="dropdown-menu">
                    <li><a [routerLink]="['/home']" [fragment]="'home'" class="dropdown-item" >Home</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a [routerLink]="['/home']" [fragment]="'Historia'" class="dropdown-item">Historia</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a [routerLink]="['/home']" [fragment]="'NossaCarne'" class="dropdown-item">Nossa carne</a></li>
                  </ul>
                </li>
        
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mercado
                  </a>
                  <ul class="dropdown-menu">
                    <li><a routerLink='/mercado' routerLinkActive="router-link-active"class="dropdown-item">Comprar</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a routerLink='/promocao' routerLinkActive="router-link-active"class="dropdown-item" >Combo Promocional</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a routerLink='/galeria' routerLinkActive="router-link-active" class="dropdown-item" >Galeria</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a routerLink='/cardapio' routerLinkActive="router-link-active" class="dropdown-item">Cardapio</a></li>
                  </ul>
                </li>
        
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Contatos
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" >Instagram</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Facebook</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Whatzapp</a></li>
                  </ul>
                <li>
                  <div class="Carro-compra">
                    <a><i class="bi bi-cart4" type="button" routerLink='/mercado' routerLinkActive="router-link-active"></i></a>
                     <div id="carroCompra-text" class="text-white" alt="carro de compra">Comprar</div>
                </div>
        
        
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
 
          <div class="IMG-Canvas">
          <img src="assets\Imagens\imagemt.jpg" class="img-responsive">
        </div>
      </div>
    </div>

<section>
<div class="Slide">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators" >
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Imagens/hamburguercerto.webp"   alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="assets/Imagens/hamburguercerto.webp"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Imagens/hamburguercerto.webp" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
</section>

<div class="card border-dark mb-1" id="Historia">
  <div class="card-header">Nossa Historia</div>
  <div class="card-body">
    <h5 class="card-title">Origem local</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
    <a  routerLink='/mercado' routerLinkActive="router-link-active" type="button" class="btn btn-outline-success">Comprar</a></div>
</div>

<div class="card border-dark mb-1" id="NossaCarne">
  <div class="card-header">Origem do produto</div>
  <div class="card-body">
    <h5 class="card-title">Nossa Carne</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   
    <a routerLink='/mercado' routerLinkActive="router-link-active" type="button" class="btn btn-outline-success">Comprar</a>
  </div>
</div>


<section class="footer-section">

    <!-- Footer -->
    <footer 
    class="text-lg-start text-white"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #6351ce"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Contato Social Midia :</span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-whatsapp"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Hamburgueria Blum</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Nome alemão que  vem da cidade tal...blblalllblalal
              </p>
            </div>
            <!-- Grid column -->
  
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Mapa do site</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Comprar</a>
              </p>
              <p>
                <a routerLink='/Galeria' routerLinkActive="router-link-active" class="text-white">Galeria</a>
              </p>
              <p>
                <a href="#!" class="text-white">Promoção</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contatos</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="bi bi-house-door-fill"></i> Rua  tal numero 380</p>
              <p><i class="bi bi-envelope"></i> email.terra.com.br</p>
              <p><i class="bi bi-telephone-fill"></i> 1094567840404</p>
             
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    </footer>
    <!-- Footer -->
</section>
  <!-- End of .container -->




  <app-botaotopo onclick="topFunction()"></app-botaotopo>
 
</body>
  </html>

  
   