*, *::before, *::after { box-sizing: border-box; }

html { 
    font-size: 16x;
padding: 3px;
    /* A propriedade abaixo permite
    uma rolagem suave entre as áreas
    de navegação da página */
    scroll-behavior: smooth;
    background: linear-gradient(90deg, rgba(23,18,102,1) 0%, rgba(165,123,238,1) 36%, rgba(36,159,218,1) 100%);

}
h1,h5,h2{
    color: white;
}
.btn{
    color: black;
    background-color: white;

}
.btn:hover{
    background-color: black;
    color: white;

}
body {
    margin: 5px;
    padding: 5px;
    background: linear-gradient(90deg, rgba(23,18,102,1) 0%, rgba(165,123,238,1) 36%, rgba(36,159,218,1) 100%);

}



img{
    border:none;
    margin-left: 2px;
}
.navbar{
    background-color: rgb(24, 22, 22); 
    color: azure; 
   border-radius: 0.9rem;
   margin: 0px;
   margin-top: 2px;
   padding-left: 15px;
   padding-right: 15px;
   height: 60px;
}
.navbar-brand{
    color: white;
}
.navbar-toggler-icon{
    background-color: white;
    color: black;
}
.nav-link{
    color: white;

}
.dropdown-item{
    color:white;
}
.dropdown-menu{
    background-color: black;
    color: white;
}
.dropdown-item:hover{
    background: linear-gradient(90deg, rgba(23,18,102,1) 0%, rgba(165,123,238,1) 36%, rgba(36,159,218,1) 100%);
    
}

img{
width:100%;
height: 500px;
border-radius: 3rem;
}

.Slide{
margin-top: 30px;
border-radius: 3rem;

}

.carousel-inner{
width:100%;
height: 50%;
}

.dropdown-item{
    color:white;
}
.dropdown-menu{
    background-color: black;
    color: white;
}
.dropdown-item:hover{
    background: linear-gradient(90deg, rgba(23,18,102,1) 0%, rgba(165,123,238,1) 36%, rgba(36,159,218,1) 100%);
    
}


.Fimpage{
    width: 100%;
    
    margin-top: 80px;
   

}

/* Tornando as imagens responsivas */
img {
    width: 100%; 
    height: 200px;
    margin-left: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3rem;
   
}


/* Formatando todos os links 
(sem underline, com cor preta) */
a {
    text-decoration: none;
    color: white;
}
.container{
    margin-top: 20px;
}


.Carro-compra{
    margin-left: 400px;
    margin-top:5px;
}

#carroCompra-text{
 margin-top: -20px;
 margin-left: 30px;
 
}
.bi-cart4::before{
    scale:2.5;
}

