
<html>
    <body>
        
    
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a [routerLink]="['/home']" [fragment]="'home'"class="navbar-brand" >Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Home
            </a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['/home']" [fragment]="'home'"class="dropdown-item" >Home</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a [routerLink]="['/home']" [fragment]="'Historia'"class="dropdown-item">Historia</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a [routerLink]="['/home']" [fragment]="'NossaCarne'"class="dropdown-item">Nossa carne</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mercado
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink='/mercado' routerLinkActive="router-link-active"class="dropdown-item">Comprar</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink='/promocao' routerLinkActive="router-link-active"class="dropdown-item" >Promoção</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink='/galeria' routerLinkActive="router-link-active" class="dropdown-item" >Galeria</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contatos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" >Instagram</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Facebook</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Whatzapp</a></li>
            </ul>
          </li>
          <div class="Carro-compra">
            <a><i class="bi bi-cart4" type="button" routerLink='/mercado' routerLinkActive="router-link-active"></i></a>
             <div id="carroCompra-text" class="text-white" alt="carro de compra">Comprar</div>
        </div>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" autocomplete="on" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<section id="ImagePdf">
<embed src="assets/Imagens/TABELA DE PREÇO VENDA HAMBURGUER.pdf" 
    style="width: 100%;height:100rem" 
    type="application/pdf">
</section>

<section>
  <app-botaotopo onclick="topFunction()"></app-botaotopo>
  </section>
</body>
</html>

