*, *::before, *::after { box-sizing: border-box; }

html { 
font-size: 16px;
padding: 0px;
margin: 0px;
    /* A propriedade abaixo permite
    uma rolagem suave entre as áreas
    de navegação da página */
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}

.navbar{
    margin-top: 0px;
    margin-left: -1px;
    background: black;
    width: 100%!important;
    color: white; 
    height: 80px;
  
  }
.navbar-brand{
    color:black;
}
.navbar-toggler-icon{
    background-color: white;
    color: black;
}
.nav-link{
    color:white;
    padding: 10px;

}
.dropdown-item{
    color:white;
}
.dropdown-menu{
    background-color: black;
    color: white;
}
.dropdown-item:hover{
    background: linear-gradient(90deg, rgb(108, 101, 206) 0%, rgb(175, 139, 236) 36%, rgba(36,159,218,1) 100%);
    
}


  .Carro-compra{
    margin-left: 400px;
    margin-top:5px;
}

#carroCompra-text{
 margin-top: -20px;
 margin-left: -30px;
 
}
.bi-cart4::before{
    scale:2.5;
    margin-left: -60px;
}

.tot{
    color: black;
}

h1 { 

margin-top:100px ;
background-color:black;
color: white;
border-bottom:3px solid #EA0000;
width: 100%;
margin-left: 0px;
text-align: center;
}

  #SearchManin{
    margin-top: 4px;
    width:200px;

    
  }


.container{
    margin-top: 30px;
}



#ImagePdf{
    margin-top: 20px;
}

.Carro-compra{
    margin-left: 400px;
    margin-top:5px;
}

#carroCompra-text{
 margin-top: -20px;
 margin-left: 30px;
 
}
.bi-cart4::before{
    scale:2.5;
}