
<html>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid" >
          <a class="navbar-brand">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
      
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Home
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="['/home']" [fragment]="'home'">Home</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="['/home']" [fragment]="'Historia'">Historia</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="['/home']" [fragment]="'NossaCarne'">Nossa carne</a></li>
                </ul>
              </li>
      
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mercado
                </a>
                <ul class="dropdown-menu">
                  <li><a routerLink='/cardapio' routerLinkActive="router-link-active"class="dropdown-item">cardapio</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a routerLink='/promocao' routerLinkActive="router-link-active" class="dropdown-item">Combo Promocional</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a routerLink='/galeria' routerLinkActive="router-link-active" class="dropdown-item" >Galeria</a></li>
                </ul>
              </li>
      
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contatos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Instagram</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Facebook</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Whatzapp</a></li>
                </ul>
              </li>
              <div class="Carro-compra">
                <a><i class="bi bi-cart4" type="button" routerLink='/mercado' routerLinkActive="router-link-active"></i></a>
                 <div id="carroCompra-text" class="text-white" alt="carrinho de compra">Carro de compra</div>
            </div>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" id="SearchManin" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" autocomplete="on" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    
        <section>
            <h2>Mercado</h2>
            
              <div class="container" id="buttonsSearch">
                <ul>
               <li> <button><a [routerLink]="['/mercado']" [fragment]="'carneSecao'">Carne</a></button></li>
                
              <li><button><a [routerLink]="['/mercado']" [fragment]="'Natural'">Natural</a></button></li>

              <li><button><a [routerLink]="['/mercado']" [fragment]="'Frango'">Frango</a></button></li>

              <li><button><a [routerLink]="['/mercado']" [fragment]="'Calabresa'">Calabresa</a></button></li>

                </ul>

              </div>
            </section>
            <h1>Hamburguer de Carne</h1>
        <section id="carneSecao">
         <!--primeiro container carne-->
          <div class="container text-center" >
            <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="assets\Imagens\hamburguertra.avif" id="imagem-lanche" alt="...">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" click="carregarImagemLanche()"  data-bs-toggle="modal" data-bs-target="#exampleModal">
  Comprar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Realize seu Desejo </h5>
        
      </div>
      
      <div class="modal-body">
        <div  id="ImagemModal" alt="Imagem do Produto no Modal">
        <img [src]="PassarImagemoutraPaginaService['caminhoImagemModal']" class="img-fluid" alt="">
      </div>
      <form>
      <div class="Precosmodal">
        <ul>
          <th>
          <tr><label for="LancheP">Lanche pequeno</label>
          <input type="text" id="LancheP" ngModel="LancheP"  name="LancheP"  value="R$ 18,00" readonly></tr>
          
          <tr><label for="QtdLancheP">Qtd Lanche pequeno</label>
          <input type="number" id="QtdLancheP" value="0" ngModel="quantidade" name="QtdLancheP" min="0" max="999" onchange="atualizarValorTotal()"></tr>
          </th>

          <th>
          <tr><label for="LancheM">Lanche medio</label>
          <input type="text" id="LancheM" ngModel="LancheM" name="LancheM" value="R$ 26,00" readonly></tr> 
         
          <tr> <label for="QtdLancheM">Qtd Lanche medio</label>
          <input type="number" id="QtdLancheM" ngModel="QtdLancheM" value="0" name="QtdLancheM" min="0" max="999" onchange="atualizarValorTotal()"></tr>
        </th>
    
        <th>
          <tr><label for="LancheG">Lanche grande</label>
          <input type="text" id="LancheG" name="LancheG" ngModel="LancheG" value="R$ 30,00"readonly></tr>
      
        <tr><label for="QtdlacheG">Qtd Lanche grande</label>
          <input type="number" id="QtdLancheG" value="0" name="QtdLancheG" ngModel="QtdLancheG" min="0" max="999" onchange="atualizarValorTotal()"></tr>
        </th>
        </ul>
      </div>
    </form>
      <div class="lista-valores">
            <div class="container-Container">
              <h4>Complementos</h4>
              </div>
              <div class="Valores-carne">
                <ul class="valores">
              <li>
                  <p >Valor carne extra: <span id="valor-carne">R$:6,00 </span> </p>
              </li>
            </ul>
            <form class="QtdComplementos">
              <ul>
                 <li><label for="Qtdcarne" class="nomeQtd">Qtd Carne</label>
                  <input type="number" id="Qtdcarne" value="0" name="Qtdcarnes" min="0" max="999" onchange="atualizarValorTotal()"></li>
             
                <li><label for="Qtdbacon" class="nomeQtd">Qtd Bacon</label>
                <input type="number" id="Qtdbacon" value="0" name="Qtdbacons" min="0" max="999" onchange="atualizarValorTotal()"></li>
            
             <li><label for="Qtdqueijo" class="nomeQtd">Qtd Queijo</label>
              <input type="number" id="Qtdqueijo" value="0" name="Qtdqueijos" min="0" max="999" onchange="atualizarValorTotal()"></li>
              </ul>
        
          <div>
          </div>
      <div>
          <p class="tot">Total:<span name="total" id="total" aria-readonly="true">R$ 0.00</span></p>
      </div>
    </form>    
 </div>
</div>
                     <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <a><button click="adicionarAoCarrinho()" type="button"  class="btn btn-primary" id="adicionarCarrinho" routerLink='/carro' routerLinkActive="router-link-active">Adicionar ao Carrinho</button></a>
                  </div>
                  </div>
                </div>
                
              </div>
           </div>
           
          </div>
          
        </div>
        
            </div>
            
          </div>

          
        </section>

        

      
            <app-botaotopo click="topFunction()"></app-botaotopo>
     
</body>
  </html>
