 <html>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid" >
          <a class="navbar-brand">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
      
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Home
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="['/home']" [fragment]="'home'">Home</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="['/home']" [fragment]="'Historia'">Historia</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="['/home']" [fragment]="'NossaCarne'">Nossa carne</a></li>
                </ul>
              </li>
      
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mercado
                </a>
                <ul class="dropdown-menu">
                  <li><a routerLink='/cardapio' routerLinkActive="router-link-active"class="dropdown-item">cardapio</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a routerLink='/promocao' routerLinkActive="router-link-active" class="dropdown-item">Promoção</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a routerLink='/galeria' routerLinkActive="router-link-active" class="dropdown-item" >Galeria</a></li>
                </ul>
              </li>
      
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contatos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Instagram</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Facebook</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Whatzapp</a></li>
                </ul>
              </li>
              <div class="Carro-compra">
                <a><i class="bi bi-cart4" type="button" routerLink='/mercado' routerLinkActive="router-link-active"></i></a>
                 <div id="carroCompra-text" class="text-white" alt="carrinho de compra">Carro de compra</div>
            </div>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    
        <section>
            <h2>Mercado</h2>
            
              <div class="container" id="buttonsSearch">
                <ul>
               <li> <button><a [routerLink]="['/mercado']" [fragment]="'carne'">Carne</a></button></li>
                
              <li><button><a [routerLink]="['/mercado']" [fragment]="'natural'">Natural</a></button></li>

              <li><button><a [routerLink]="['/mercado']" [fragment]="'frango'">Frango</a></button></li>

              <li><button><a [routerLink]="['/mercado']" [fragment]="'calabresa'">Calabresa</a></button></li>

                </ul>

              </div>
            </section>
    
        <section id="carne">
        <h1>Carne</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="assets\Imagens\imagemt.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                
                  <p class="card-text" id="carnespreco1">Lanche pequeno: R$ 18,00 </p>
                  <p class="card-text" id="carnespreco2">Lanche Medio: R$  25,00 </p>
                  <p class="card-text" id="carnespreco3">Lanche Grande: R$ 30,00 </p>
                </div>
                <button type="button" onclick="clickmodal()" class="btn btn-primary" data-toggle="modal" data-target="#ModalLongoExemplo">
                  Comprar
                </button>
              
                <!-- Modal -->
<div class="modal fade" data-backdrop="static" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       
       <div class="modal-body">
        <form class="menu-compras">
          <p>
            <label for="Qtdlache">Quantidade Lanche</label>
            <input type="number" id="Qtdlache" name="Qtdlache" min="0" max="999" onchange="atualizarValorTotal()">
        </p>
        
          <p>
            <label for="LacheP">Lanche pequeno</label>
            <input type="text" id="LancheP"  name="valor-fixo" value="R$ 18,00" readonly>
            <button class="btn btn-primary" onclick="adicionarLanche('LancheP')">selecionar</button>
        </p>
        
        <p>
          <label for="LancheM">Lanche medio</label>
          <input type="text" id="LancheM" name="valor-fixo" value="R$ 26,00" readonly>
          <button class="btn btn-primary" onclick="adicionarLanche('LancheM')">selecionar</button>
      </p>
      
      <p>
        <label for="LacnheG">Lanche grande</label>
        <input type="text" id="LancheG" name="valor-fixo" value="R$ 30,00"readonly>
        <button class="btn btn-primary" onclick="adicionarLanche('LancheG')">selecionar</button>
    </p>
          
        <div class="lista-valores">
          <ul>
              <li>
                  <p class="valores">Valor carne extra: <span id="valor-carne">R$:6,00 </span> </p>
              </li>
              <p>
                <label for="Qtdcarne">Quantidade Carne</label>
                <input type="number" id="Qtdcarne" name="Qtdcarne" min="0" max="999" onchange="atualizarValorTotal()">
            </p>
          </ul>
          <div>
          </div>
      </div>
    </form>
    <div>
      <p class="tot">Total:<span name="total" id="total" aria-readonly="true"></span></p>
  </div>
       </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Adicionar no Carrinho</button>
      </div>
      
    </div>
  </div>
</div> 
</div>
</div>
</div>


</section>
         
   
    <section>
      <app-botaotopo onclick="topFunction()"></app-botaotopo>
      </section>
       
    </body>     

 </html>
    
        
       
          